In [ ]:
pip install pandas

Requirement already satisfied: pandas in c:\users\samud\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\samud\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.7 in c:\users\samud\anaconda3\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\samud\anaconda3\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\samud\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\samud\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
print("Pandas version:", pd.__version__)

Pandas version: 2.2.3

In [7]:
df = pd.read_csv('dataset/alzheimers_disease_data.csv')

In [8]:
df.head()

,PatientID,Age,Gender,Ethnicity,EducationLevel,BMI,Smoking,AlcoholConsumption,PhysicalActivity,DietQuality,...,MemoryComplaints,BehavioralProblems,ADL,Confusion,Disorientation,PersonalityChanges,DifficultyCompletingTasks,Forgetfulness,Diagnosis,DoctorInCharge
0,4751,73,0,0,2,22.927749,0,13.297218,6.327112,1.347214,...,0,0,1.725883,0,0,0,1,0,0,XXXConfid
1,4752,89,0,0,0,26.827681,0,4.542524,7.619885,0.518767,...,0,0,2.592424,0,0,0,0,1,0,XXXConfid
2,4753,73,0,3,1,17.795882,0,19.555085,7.844988,1.826335,...,0,0,7.119548,0,1,0,1,0,0,XXXConfid
3,4754,74,1,0,1,33.800817,1,12.209266,8.428001,7.435604,...,0,1,6.481226,0,0,0,0,0,0,XXXConfid
4,4755,89,0,0,0,20.716974,0,18.454356,6.310461,0.795498,...,0,0,0.014691,0,0,1,1,0,0,XXXConfid

In [12]:
# viewing all the columns in the dataset one by one 
df.columns

Index(['PatientID', 'Age', 'Gender', 'Ethnicity', 'EducationLevel', 'BMI',
       'Smoking', 'AlcoholConsumption', 'PhysicalActivity', 'DietQuality',
       'SleepQuality', 'FamilyHistoryAlzheimers', 'CardiovascularDisease',
       'Diabetes', 'Depression', 'HeadInjury', 'Hypertension', 'SystolicBP',
       'DiastolicBP', 'CholesterolTotal', 'CholesterolLDL', 'CholesterolHDL',
       'CholesterolTriglycerides', 'MMSE', 'FunctionalAssessment',
       'MemoryComplaints', 'BehavioralProblems', 'ADL', 'Confusion',
       'Disorientation', 'PersonalityChanges', 'DifficultyCompletingTasks',
       'Forgetfulness', 'Diagnosis', 'DoctorInCharge'],
      dtype='object')

In [ ]:
# display the missing values that are present in the dataset
missing_values = df.isnull().sum()
missing_values[missing_values > 0]
# no missing values are present in the dataset

Series([], dtype: int64)

In [20]:
# find duplicate rows in the dataset
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")
# no duplicate rows are present in the dataset

Number of duplicate rows: 0

In [22]:
# display the data types of each column
data_types = df.dtypes
print("Data types of each column:")
print(data_types)

Data types of each column:
PatientID                      int64
Age                            int64
Gender                         int64
Ethnicity                      int64
EducationLevel                 int64
BMI                          float64
Smoking                        int64
AlcoholConsumption           float64
PhysicalActivity             float64
DietQuality                  float64
SleepQuality                 float64
FamilyHistoryAlzheimers        int64
CardiovascularDisease          int64
Diabetes                       int64
Depression                     int64
HeadInjury                     int64
Hypertension                   int64
SystolicBP                     int64
DiastolicBP                    int64
CholesterolTotal             float64
CholesterolLDL               float64
CholesterolHDL               float64
CholesterolTriglycerides     float64
MMSE                         float64
FunctionalAssessment         float64
MemoryComplaints               int64
BehavioralProblems             int64
ADL                          float64
Confusion                      int64
Disorientation                 int64
PersonalityChanges             int64
DifficultyCompletingTasks      int64
Forgetfulness                  int64
Diagnosis                      int64
DoctorInCharge                object
dtype: object

In [27]:
# drop the id and doctor in charge columns as they are not needed for analysis
df.drop(columns=['PatientID', 'DoctorInCharge'], inplace=True)

In [28]:
# view the data types of gender
df['Gender'].dtypes

dtype('int64')

In [30]:
#view the sleep quality column and diet quality column unique values  
print("Unique values in SleepQuality column:", df['SleepQuality'].unique())
print("Unique values in DietQuality column:", df['DietQuality'].unique())

Unique values in SleepQuality column: [9.02567867 7.15129274 9.67357416 ... 5.76946355 8.32287396 9.87871052]
Unique values in DietQuality column: [1.34721431 0.51876714 1.82633466 ... 8.12002455 1.26342749 7.94140388]

In [31]:
# Convert specified columns to object type
cols_to_object = [
    'FamilyHistoryAlzheimers',
    'CardiovascularDisease',
    'Diabetes',
    'Depression',
    'HeadInjury',
    'Hypertension'
]
df[cols_to_object] = df[cols_to_object].astype('object')
df[cols_to_object].dtypes

FamilyHistoryAlzheimers    object
CardiovascularDisease      object
Diabetes                   object
Depression                 object
HeadInjury                 object
Hypertension               object
dtype: object

In [32]:
# view all the dataypes in a single line
print("Data types of all columns:")
print(df.dtypes.to_string())

Data types of all columns:
Age                            int64
Gender                         int64
Ethnicity                      int64
EducationLevel                 int64
BMI                          float64
Smoking                        int64
AlcoholConsumption           float64
PhysicalActivity             float64
DietQuality                  float64
SleepQuality                 float64
FamilyHistoryAlzheimers       object
CardiovascularDisease         object
Diabetes                      object
Depression                    object
HeadInjury                    object
Hypertension                  object
SystolicBP                     int64
DiastolicBP                    int64
CholesterolTotal             float64
CholesterolLDL               float64
CholesterolHDL               float64
CholesterolTriglycerides     float64
MMSE                         float64
FunctionalAssessment         float64
MemoryComplaints               int64
BehavioralProblems             int64
ADL                          float64
Confusion                      int64
Disorientation                 int64
PersonalityChanges             int64
DifficultyCompletingTasks      int64
Forgetfulness                  int64
Diagnosis                      int64

In [33]:
# Convert specified columns to object type
cols_to_object = [
    'FamilyHistoryAlzheimers',
    'CardiovascularDisease',
    'Diabetes',
    'Depression',
    'HeadInjury',
    'Hypertension',
    'Confusion',
    'Disorientation',
    'PersonalityChanges',
    'DifficultyCompletingTasks',
    'Forgetfulness',
    'Diagnosis'
]
df[cols_to_object] = df[cols_to_object].astype('object')
df[cols_to_object].dtypes

FamilyHistoryAlzheimers      object
CardiovascularDisease        object
Diabetes                     object
Depression                   object
HeadInjury                   object
Hypertension                 object
Confusion                    object
Disorientation               object
PersonalityChanges           object
DifficultyCompletingTasks    object
Forgetfulness                object
Diagnosis                    object
dtype: object

In [34]:
df.dtypes

Age                            int64
Gender                         int64
Ethnicity                      int64
EducationLevel                 int64
BMI                          float64
Smoking                        int64
AlcoholConsumption           float64
PhysicalActivity             float64
DietQuality                  float64
SleepQuality                 float64
FamilyHistoryAlzheimers       object
CardiovascularDisease         object
Diabetes                      object
Depression                    object
HeadInjury                    object
Hypertension                  object
SystolicBP                     int64
DiastolicBP                    int64
CholesterolTotal             float64
CholesterolLDL               float64
CholesterolHDL               float64
CholesterolTriglycerides     float64
MMSE                         float64
FunctionalAssessment         float64
MemoryComplaints               int64
BehavioralProblems             int64
ADL                          float64
Confusion                     object
Disorientation                object
PersonalityChanges            object
DifficultyCompletingTasks     object
Forgetfulness                 object
Diagnosis                     object
dtype: object

In [37]:
# Convert additional columns to object type
cols_to_object = [
    'Gender',
    'Smoking',
    'Ethnicity',
    'EducationLevel',
    'MemoryComplaints',
    'BehavioralProblems'
]
df[cols_to_object] = df[cols_to_object].astype('object')
df.dtypes

Age                            int64
Gender                        object
Ethnicity                     object
EducationLevel                object
BMI                          float64
Smoking                       object
AlcoholConsumption           float64
PhysicalActivity             float64
DietQuality                  float64
SleepQuality                 float64
FamilyHistoryAlzheimers       object
CardiovascularDisease         object
Diabetes                      object
Depression                    object
HeadInjury                    object
Hypertension                  object
SystolicBP                     int64
DiastolicBP                    int64
CholesterolTotal             float64
CholesterolLDL               float64
CholesterolHDL               float64
CholesterolTriglycerides     float64
MMSE                         float64
FunctionalAssessment         float64
MemoryComplaints              object
BehavioralProblems            object
ADL                          float64
Confusion                     object
Disorientation                object
PersonalityChanges            object
DifficultyCompletingTasks     object
Forgetfulness                 object
Diagnosis                     object
dtype: object

In [39]:
# all the variable names i want to make them lower case
df.columns = df.columns.str.lower()
df.columns

Index(['age', 'gender', 'ethnicity', 'educationlevel', 'bmi', 'smoking',
       'alcoholconsumption', 'physicalactivity', 'dietquality', 'sleepquality',
       'familyhistoryalzheimers', 'cardiovasculardisease', 'diabetes',
       'depression', 'headinjury', 'hypertension', 'systolicbp', 'diastolicbp',
       'cholesteroltotal', 'cholesterolldl', 'cholesterolhdl',
       'cholesteroltriglycerides', 'mmse', 'functionalassessment',
       'memorycomplaints', 'behavioralproblems', 'adl', 'confusion',
       'disorientation', 'personalitychanges', 'difficultycompletingtasks',
       'forgetfulness', 'diagnosis'],
      dtype='object')

In [40]:
df.head()

,age,gender,ethnicity,educationlevel,bmi,smoking,alcoholconsumption,physicalactivity,dietquality,sleepquality,...,functionalassessment,memorycomplaints,behavioralproblems,adl,confusion,disorientation,personalitychanges,difficultycompletingtasks,forgetfulness,diagnosis
0,73,0,0,2,22.927749,0,13.297218,6.327112,1.347214,9.025679,...,6.518877,0,0,1.725883,0,0,0,1,0,0
1,89,0,0,0,26.827681,0,4.542524,7.619885,0.518767,7.151293,...,7.118696,0,0,2.592424,0,0,0,0,1,0
2,73,0,3,1,17.795882,0,19.555085,7.844988,1.826335,9.673574,...,5.895077,0,0,7.119548,0,1,0,1,0,0
3,74,1,0,1,33.800817,1,12.209266,8.428001,7.435604,8.392554,...,8.965106,0,1,6.481226,0,0,0,0,0,0
4,89,0,0,0,20.716974,0,18.454356,6.310461,0.795498,5.597238,...,6.045039,0,0,0.014691,0,0,1,1,0,0

In [43]:
# Find outliers for all numerical columns using the IQR method
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

outliers = {}
for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outlier_indices = df[(df[col] < lower_bound) | (df[col] > upper_bound)].index.tolist()
    outliers[col] = outlier_indices

# Display the number of outliers for each numerical column
for col, idxs in outliers.items():
    print(f"{col}: {len(idxs)} outliers")

age: 0 outliers
bmi: 0 outliers
alcoholconsumption: 0 outliers
physicalactivity: 0 outliers
dietquality: 0 outliers
sleepquality: 0 outliers
systolicbp: 0 outliers
diastolicbp: 0 outliers
cholesteroltotal: 0 outliers
cholesterolldl: 0 outliers
cholesterolhdl: 0 outliers
cholesteroltriglycerides: 0 outliers
mmse: 0 outliers
functionalassessment: 0 outliers
adl: 0 outliers

In [41]:
# save this as cleaned_data.csv
df.to_csv('dataset/cleaned_data.csv', index=False)